.flight-map {
    display: flex;
    width: 800px;
    margin: 0 auto;
    height: 90vh;
    background-color: #cbd5e1;
   
  }
  .right-section *{
    text-align: center;
    color: white;
  }
  .left-section {
    width: 50%;
    height: auto;
    padding-right: 10px;
    text-align: center;
  }
  
  .right-section {
    overflow: hidden;
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #e0f7fa;
    border-radius: 10px;
    border: 2px solid #b2ebf2;
  }
  
  .seats {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .seats.premium.available {
    background-color: #2563eb; 
  }
  
  .seats.economy.available {
    background-color: #15803d; 
  }
  
  .seats.occupied {
    background-color: red;
    pointer-events: none;
    cursor:not-allowed; 
  }
  
  
  .seats:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .flightmap-table{
    margin-top: 100px;
    width: 100%;
    border-collapse: collapse;
  }
  .flightmap-table tr{
    display: flex;
    margin: 8px;
    justify-content: space-between;
}

  .blue{
    color: #2563eb;
    background-color: #2563eb;
  }
    .red{
        color: red;
        background-color: red;
    }
    .green{
        color: #15803d;
        background-color: #15803d;
    }
    .yellow{
        border: 2px solid black;
        width: 10px;
    }

.left-section .description-flight div{
margin: 20px;
font-weight: 500 ;
}

.left-section .description-flight select{
    padding: 10px;
    border-radius: 10px;
    
}
.left-section .description-flight div button{
  padding: 20px;
  margin-top: 20px ;
  border-radius: 10px;
  background-color: #2563eb;
  color: white;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .left-section .description-flight div button:hover{
    background-color: #153985;
    }
  

  @media (max-width: 800px) {
    .left-section .description-flight div {
      margin: 5px;
      }
    .left-section .description-flight div button{
      margin: 5px;
      padding: 10px;
   
      }

    .flight-map {
      flex-direction: column;
      width: 100%;
    }
    .right-section {
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
    }
    .left-section {
        overflow: hidden;
        width: 100%;
        text-align: center;
        height: 30vh;
    }
    .flightmap-table{
      margin-top: 9.5px;

    } 
  }
