.chatbot-main {
    position: fixed;
    top: 50vh; 
    left: 83%;
    width: 400px;
    transform: translate(-50%, -50%); 
    background-color: whitesmoke;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    font-family: Arial, sans-serif;
  }
  .close-chat{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 90% ;
  }

  .chatbot-main .chat-window {
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    overflow-y: scroll;
  }
  
  .chatbot-main .message {
    margin: 10px 0;
  }
  
  .chatbot-main .message.user {
    text-align: right;
  }
  
  .chatbot-main .message.bot {
    text-align: left;
  }
  
  .chatbot-main .message-content {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
  }
  
  .chatbot-main .message-content.user {
    background-color: #0078ff;
    color: white;
  }
  
  .chatbot-main .message-content.bot {
    background-color: #f1f1f1;
    color: black;
  }
  
  .chatbot-main .loading {
    font-style: italic;
  }
  
  .chatbot-main .input-container {
    display: flex;
    margin-top: 10px;
  }
  
  .chatbot-main input {
    width: 90%;
    margin-right: 10px ;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .chatbot-main button {
    padding: 10px;
    background-color: #0078ff;
    color: white;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .chatbot-main button:disabled {
    background-color: #a6c8ff;
    cursor: not-allowed;
  }
  @media (max-width: 1200px) {
    .chatbot-main{
      left: 80%; 
      width: 300px; 
    }
  }

  
  @media (max-width: 768px) {
    .chatbot-main {
      top: 60vh; 
      left: 55%; 
      width: 300px; 
      transform: translate(-50%, -50%);
    }
  
    .chatbot-main .chat-window {
      height: 250px; 
    }
  
    .chatbot-main input {
      padding: 8px;
    }
  
    .chatbot-main button {
      padding: 8px;
    }
  }
  