.background-register {
    background-color: #1E90FF;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 0px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .register-btn {
    background-color: #ff0000; 
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-btn:hover {
    background-color: #d40000; 
  }
  
  .register-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .show-password1{
    position: relative;
    top: -32px;
    left: 305px;
    width: 50px;
  }

  .show-password1 img{
    width: 25px;
  }
  .show-password1:hover{
    cursor: pointer;
  }